{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Index{% endblock %}

{% block main %}

<div class="page-header header-filter clear-filter purple-filter header-small" data-parallax="true" style="background-image: url('./assets/img/bg2.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>{{ robot.robot_name }}のモーション一覧</h1>
                    <h3>各モーションからフレームの詳細を確認</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-raised main">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
            {% if motion_list %}
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Motion Num</th>
                        <th>モーション名</th>
                    </tr>
                </thead>
                <tbody>
                {% for motion in motion_list %}
                <tr>
                    <th>{{ motion.id }}</th>
                    <td>{{ motion.motion_num }}</td>
                    <td>
                    <a href="{% url 'robocms:value_index_delete' motion_id=motion.id %}">{{ motion.motion_name }}</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            {% else %}
                <h2>登録されているモーションはありません</h2>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
