＃===.idea directory===
/.idea/*.xml
!/.idea/codeStyleSettings.xml
!/.idea/copyright/*.xml
!/.idea/fileColors.xml
!/.idea/encodings.xml
!/.idea/gradle.xml
!/.idea/runConfigurations/*.xml

!/.idea/inspectionProfiles/*.xml
/.idea/inspectionProfiles/profiles_settings.xml

!/.idea/scopes/*.xml
/.idea/scopes/scope_settings.xml

!/.idea/templateLanguages.xml
!/.idea/vcs.xml

#=== database ==
*.sqlite3
!*/migrations/__init__.py
*/migrations/*.py
*/migrations/*.pyc
