{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Index{% endblock %}

{% block main %}
<div class="page-header header-filter clear-filter purple-filter header-small" data-parallax="true" style="background-image: url('./assets/img/bg2.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>{{ motion.motion_name }}のフレーム一覧</h1>
                    <h3>フレームを確認</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
            {% if value_list %}
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>データ</th>
                    </tr>
                </thead>
                <tbody>
                {% for value in value_list %}
                <tr>
                    <th>{{ value.id }}</th>
                    <td>{{ value.data }}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            {% else %}
                <h2>登録されているフレームデータはありません</h2>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
