{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Index{% endblock %}

{% block main %}

<div class="page-header header-filter clear-filter purple-filter header-small" data-parallax="true" style="background-image: url('./assets/img/bg2.jpg');">
    <div class="container">
        {% include 'message.html' %}
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>登録ロボット一覧</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
            {% if robot_list %}
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>名前</th>
                        <th>公開設定</th>
                        <th>公開用Key</th>
                        <th>アクション</th>
                    </tr>
                </thead>
                <tbody>
                {% for robot in robot_list %}
                <tr>
                    <th>{{ robot.id }}</th>
                    <td>
                    <a href="{% url 'robocms:motion_index' robot_id=robot.pk %}">{{ robot.robot_name }}</a>
                    </td>
                    <td>
                        {% if robot.is_public %}
                            公開中
                        {% else %}
                            非公開
                        {% endif %}
                    </td>
                    <td>{{ robot.share_key }}</td>
                    <td>
                        <a href="{% url 'robocms:motion_add_with_robot' robot_id=robot.pk %}" class="btn-info btn">モーション追加</a>
                        <a href="{% url 'robocms:robot_update' pk=robot.pk %}" class="btn-info btn">編集</a>
                        <button class="btn btn-danger del_confirm" data-toggle="modal" data-target="#deleteModal" data-pk="{{ robot.robot_name }}" data-url="{% url 'robocms:robot_delete' pk=robot.pk %}">
                            削除
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            {% else %}
                <h2>登録されているロボットはありません</h2>

            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{# Delete Confirm modal Setting #}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">確認</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p><span id="del_pk"></span> を削除しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <a href="#" class="btn btn-danger" id="del_url">削除</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(function() {
  $('.del_confirm').on('click', function () {
     $("#del_pk").text($(this).data("pk"));
     $('#del_url').attr('href', $(this).data("url"));
  });
});
</script>
{% endblock %}
