{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Index{% endblock %}

{% block main %}

<div class="page-header header-filter" data-parallax="true" style="background-color: #b8ecf3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">全く新しい、ロボットモーション制作</h1>
          <h4>Every landing page needs a small description after the big bold title, that&apos;s why we added this text here. Add here all the information that can make you or your product create the first impression.</h4>
          <br>
            {% if user.is_authenticated %}
            <a href="{% url 'robocms:robot_index' %}" target="_blank" class="btn btn-danger btn-raised btn-lg">
                 <i class="fa fa-play"></i> 登録モーションの確認
            </a>
            {% else %}
              <a href="{% url 'accounts:signup' %}" target="_blank" class="btn btn-danger btn-raised btn-lg">
                 <i class="fa fa-play"></i> 今すぐ登録する
              </a>
            {% endif %}
        </div>
      </div>
    </div>
</div>




{% endblock %}
